#SkypeButton_Call_montpellier_1001net_1 img, #SkypeButton_Call_montpellier_1001net_2 img {
    margin: 0 !important;
    padding: 0 !important;
}

/**
@todo : 
tags & contact form
**/

/************************************/
/*******   FLIPPY*/
/************************************/
flippy.my-fancy{
    width:100%;
    margin : 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    overflow: hidden;
}
flippy.my-fancy flippy-back,flippy.my-fancy flippy-front{
    text-align: center !important;
    border-radius : 10px !important;
    background-color: #EBEBEB !important;
    border : 1px solid #EBEBEB !important;
    color: #6C6662 !important;
    font-family: 'PT Sans','Helvetica Neue','Arial','Helvetica',sans-serif;
    font-size : 14px;
    padding : 10px !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    overflow: hidden;
}
flippy h2{
    margin-top: 0 !important;
}
flippy.my-fancy p{
    text-align: justify;
    font-size : 10px;
}
.my-fancy img{
    height : 138px !important;
    width : 138px !important;
}


/************************************
*******  EXPERIENCE / EDUCATION ANIMATION
************************************/

.animate-show {
    height: auto;
    opacity: 1;

}

.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
    -webkit-transition: all linear 1s;
    -moz-transition: all linear 1s;
    -o-transition: all linear 1s;

    transition: all linear 1s;
}

.animate-show.ng-hide {
    height: 0;
    opacity: 0;
}

.fade-show {

    opacity: 1;
    position:absolute;
    top: 0;
    left: 0;
    width : 134px;
    height : 134px;

}

.fade-show.ng-hide-add.ng-hide-add-active,
.fade-show.ng-hide-remove.ng-hide-remove-active {
    -webkit-transition: all linear 1s;
    -o-transition: all liniear 1s;
    -moz-transition: all linear 1s;
    transition: all linear 1s;
}

.fade-show.ng-hide {
    opacity: 0;
}

/************************************
*******  WEBSITE
************************************/

html{
    height: 100%;
}
body{
    background : url("../img/diamonds.png") repeat !important;
    color: #747474;
    min-height : 100%;
}
.bg-view{
    background : url("../img/diamonds.png") repeat !important;
    color: #747474;

}

/************************************
*******  WEBSITE
************************************/
.logo{
    text-align: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    padding-bottom : 30px;
    padding-top: 30px;
}

ul{
    padding-left: 15px;
    margin-left: 0;
}

.bg-portrait {
    height: 147px;
    width: 100%;
    float:left;
    opacity: 1;
    background: url('../img/me.png') no-repeat center;

}

.bg-portrait.ng-hide-add.ng-hide-add-active,
.bg-portrait.ng-hide-remove.ng-hide-remove-active {
    -webkit-transition: all linear 0.5s;
    -o-transition: all liniear 0.5s;
    -moz-transition: all linear 0.5s;
    transition: all linear 0.5s;
}

.bg-portrait.ng-hide {
    height: 0;
    opacity: 0;
}


.logo h2 {
    opacity: 1;
    font-weight: bold;
    line-height: 40px;

    margin : 0;
    color: #747474;
    font-size: 40px;
}
.large-sidenav .logo h2{
    color: #fff;
}

.btn-content{
    width: 100px;
    text-align: left;
    margin: auto;
}
.btn-content i{
    width : 30px;
}
.btn-content span{
    margin-left : 5px;
}

.logo h2 span {
    display: block;
    font-size: 18px;
    font-weight: normal;
}
/****INTRO SECTION*/

#intro-name span {
    float:left;
    padding-top: 30px;
}
#intro-name{
    margin: auto;
    position: relative !important;
}
#intro-name, #intro-name span {
    font-weight: bold;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    line-height: 60px;
    text-transform: uppercase;
}
.fade-show-container{
    padding: 0;
    margin: 0;
    height: 140px;
    width: 140px;
    float:left;
    position: relative;
    display: inline;
}
@media screen and (min-width:1200px){
    #intro-name{
        width: 450px;
    }
    #intro-name, #intro-name span {
        font-size : 60px;
        margin-top : 5px;
        margin-bottom : 20px;
    }
}
@media screen and (min-width:900px) and (max-width: 1200px){
    #intro-name{
        width: 350px;
    }
    #intro-name, #intro-name span {
        font-size : 40px;
        margin-top : 5px;
        margin-bottom : 20px;
    }
}
@media screen and (min-width:600px) and (max-width: 900px){
    #intro-name{
        width: 310px;
    }
    #intro-name, #intro-name span {
        font-size : 35px;
        margin-top : 5px;
        margin-bottom : 20px;
    }
}
@media screen and  (max-width: 600px){
    #intro-name{
        width: 250px;
    }
    #intro-name, #intro-name span {
        font-size : 25px;
        margin-top : 5px;
        margin-bottom : 20px;
    }
}
/************************************
*******  INTRO
************************************/


.intro h3 {
    font-family: PT Sans;

    font-weight: normal;
}
.intro {
    text-align: center;
}
@media screen and (min-width:600px){
    .intro h3 {
        font-size: 1.5em;
    }
    h2 {
        font-size: 31.5px;
    }
}
@media screen and (max-width: 600px){
    .intro h3 {
        font-size: 0.9em;
    }
    h2 {
        font-size: 20px;
    }
}

/************************************
*******  SECTION
************************************/
.section {
    padding-bottom: 60px;
    padding-top: 60px;
}


/************************************
*******  TIMELINE
************************************/


.timeline {
    margin-left: 15px;

}
.timeline-item {
    margin-bottom: 30px;
    overflow: hidden;
    position: relative;
}
.timeline-item-date {
    float: left;
    margin-top: 31px;
    width: 129px;
    font-family: PT Sans;
    font-size: 13px;
}
.timeline-item-trigger {
    background: none repeat scroll 0 0 #3BC2C8;
    border-radius: 130px 125px 130px 125px;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    font-size: 28px;
    height: 44px;
    line-height: 44px;
    margin-top: 20px;
    text-align: center;
    width: 46px;
    -webkit-transition: all 0.8s ease-out;
    -moz-transition: all 0.8s ease-out;
    -o-transition: all 0.8s ease-out;
    transition: all 0.8s ease-out;

}

.timeline-item-trigger:hover{
    background-color: #216c70;
}

.timeline-arrow {
    display: block;
    position: relative;
}
.timeline-arrow i {
    background: none repeat scroll 0 0 #F5F5F5;
    border-left: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    display: block;
    height: 10px;
    left: 10px;
    position: absolute;
    top: 37px;
    
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 10px;
    z-index: 10;
}
.timeline-head-content{

    float:left;
}
.timeline-head-content h3{
    padding-top : 15px;
    margin-left : 20px;
    text-transform: uppercase;
    color: #FBA24E;
} 
.timeline-head {
    background: none repeat scroll 0 0 #FBA24E;
    border-radius: 136px 136px 136px 136px;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    font-size: 28px;
    height: 46px;
    line-height: 46px;
    margin-top: 20px;
    text-align: center;
    width: 46px;

}
.timeline-item-content {
    background-color: #F5F5F5 !important;
    border: 1px solid #CCCCCC !important;
    border-radius: 5px 5px 5px 5px !important;
    margin-bottom : 10px;
    margin-right : 10px;
    margin-left: 15px !important;

    position: relative;
}


.timeline-item-content p{
    font-family: PT Sans;
}
.timeline-item-content  h3{

    font-family: PT Sans !important;
    padding : 0 !important;
    margin : 0 !important;

    -webkit-transition: all 0.8s ease-out;
    -moz-transition: all 0.8s ease-out;
    -o-transition: all 0.8s ease-out;
    transition: all 0.8s ease-out;
    cursor: pointer;

}
.timeline-item-content  h3:hover{
    color: #216c70;
    text-decoration: underline;
}
.timeline-item-title span.place{
    color: #a36933;
}

@media screen and (max-width: 600px){
    .timeline {
        background: url("../img/line.gif") repeat-y scroll 22px 0 transparent;    
    }
    .timeline-item-content{
        padding: 5px 15px !important;
    }
    .timeline-item-content p{
        font-size : 11px;
    }
    .timeline-item-content  h3{
        font-size : 12px;
        line-height : 30px;
        padding-top : 5px !important;
        padding-bottom : 0; 
    }
    .timeline-head{
        margin-left: 0;
    }
    .timeline-item-title span.place{
        display: block;
    }
}

@media screen and (min-width:600px) and (max-width: 900px){
    .timeline {
        background: url("../img/line.gif") repeat-y scroll 112px 0 transparent;    
    }
    .timeline-item-content p{
        font-size : 12px;
    }
    .timeline-item-content{
        padding: 10px 30px !important;
    }
    .timeline-item-content  h3{
        font-size : 14px;
        line-height : 20px;
        padding-top : 10px !important;
        padding-bottom : 5px; 
    }
    .timeline-head{
        margin-left: 90px;
    }
    .timeline-item-title span.place{
        display: block;
    }
    .timeline-item-date{
        width: 90px;
    }
}

@media screen and (min-width:900px) and (max-width:1200px){
    .timeline {
        background: url("../img/line.gif") repeat-y scroll 154px 0 transparent;    
    }
    .timeline-item-content p{
        font-size : 13px;
    }
    .timeline-item-content{
        padding: 10px 30px !important;
    }
    .timeline-item-content  h3{
        font-size : 16px;
        line-height : 30px;
        padding-top : 10px !important;
        padding-bottom : 5px; 
    }
    .timeline-head{
        margin-left: 130px;
    }
    .timeline-item-title span.place{
        display: inline;
    }
}


@media screen and (min-width:1200px){
    .timeline {
        background: url("../img/line.gif") repeat-y scroll 154px 0 transparent;    
    }
    .timeline-item-content p{
        font-size : 14px;
    }
    .timeline-item-content{
        padding: 10px 30px !important;
    }
    .timeline-item-content  h3{
        font-size : 22px;
        line-height : 40px;
        padding-top : 10px !important;
        padding-bottom : 5px; 
    }
    .timeline-head{
        margin-left: 130px;
    }
    .timeline-item-title span.place{
        display: block;
    }
    .timeline-item-title span.place{
        display: inline;
    }
}


/************************************
*******  NICE SECTIOn
************************************/
.nicesection {
    background: #FFFFFF;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    padding: 0 0 1px;
    position: relative;
}
.nicesection h2{

    font-weight: 700;
    letter-spacing: 0.3em;

    margin: 0;
    padding: 0;
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #747474;
    font-family: 'Yanone Kaffeesatz', sans-serif;

}
@media screen and (max-width:600px){
    .nicesection {
        margin-bottom: 20px;
    }
    .nicesection h2{
        font-size: 35px;
    }
}
@media screen and (min-width:600px){
    .nicesection {

        -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
        -ms-box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
        -o-box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
        z-index: 9;
        margin-bottom: 100px;
    }
    .nicesection:before {
        background: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.15);

        -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
        -ms-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
        -o-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: -2px;

        -moz-transform: rotate(1deg);
        -webkit-transform: rotate(1deg);
        -ms-transform: rotate(1deg);
        -o-transform: rotate(1deg);
        transform: rotate(1deg);
        width: 100%;
        z-index: -1;
    }
    .nicesection:after {
        background: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.15);

        -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
        -ms-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
        -o-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
        content: "";
        height: 100%;
        left: -2px;
        position: absolute;
        top: 1px;

        -moz-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        -ms-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        transform: rotate(359deg);
        width: 100%;
        z-index: -2;
    }
    .nicesection h2{
        font-size: 40px;
    }

}
/************************************
*******  TAGS
************************************/
.tag {
    font-family: Helvetica, Arial, sans-serif;
    background: #588fe5;
    display: inline-block;

    color: #fff;
    position: relative;

    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;

    text-decoration: none;
}

.tag:hover {
    background-color: #739fe4;
}


.tag:hover:after {
    border-color: transparent transparent transparent #739fe4;
}

@media screen and (max-width:900px){
    .tag {
        padding: 4px;
        margin: 0 13px 0 0;
        margin-top : 5px;
        font-size : 10px;
    }
    .tag:before {
        width: 5px;
        height: 5px;
        border-radius: 10px;
        margin: 0 3px 0 0;
        background: #fff;
        content: "";
        display: inline-block;
    }

    .tag:after {
        display: inline-block;
        border: 9px solid;
        right: -18px;
        border-color: transparent transparent transparent #588fe5;
        height: 0;
        width: 0;
        position: absolute;

        top: 0;
        content: "";

    }
}
@media screen and (min-width:900px){
    .tag {
        padding: 8px;
        margin: 0 30px 0 0;
        margin-top : 5px;

        font-size : 12px;
    }
    .tag:before {
        width: 10px;
        height: 10px;
        border-radius: 20px;
        margin: 0 5px 0 0;
        background: #fff;
        content: "";
        display: inline-block;
    }

    .tag:after {
        border: 15px solid;
        right: -29px;
        border-color: transparent transparent transparent #588fe5;
        height: 0;
        width: 0;
        position: absolute;

        top: 0;
        content: "";

    }

}


/************************************
*******  SKILLS
************************************/
.skill-title{
    background-color: #747474;
    padding: 10px;
    color: #fff;
    font-weight: bold;
    font-size: 20px
}
.score-red{
    background-color: red !important;
    color: white;
}
.score-red:hover{
    background-color: #FF5757 !important;
}

.score-yellow{
    background-color: #FCE82B !important;
    color: black;
}
.score-yellow:hover{
    background-color: #FCEE67 !important;
}
.score-green{
    background-color: #1d752c !important;
    color: white;

}
.score-green:hover{
    background-color: #33cc4c !important;
}
/************************************
*******  SIDEBAR
************************************/
.md-sidenav-left, .md-sidenav-right{
    position:fixed;
}
.large-sidenav{
    width: 480px !important;
    min-width: 480px!important;
    max-width: 480px!important;
}
.small-sidenav{
    width: 300px !important;
    min-width: 300px!important;
    max-width: 300px!important;
}

.large-contact-sidenav{
    width: 450px !important;
    min-width: 450px!important;
    max-width: 450px!important;
}
.medium-contact-sidenav{
    width: 350px !important;
    min-width: 350px!important;
    max-width: 350px!important;
}
.small-contact-sidenav{
    width: 250px !important;
    min-width: 250px!important;
    max-width: 250px!important;
}

/************************************
*******  TABS
************************************/

.tabsdemoStaticTabs .sample {
    height: 450px; }
.tabsdemoStaticTabs #tab1-content {
    background-color: #fff; }
.tabsdemoStaticTabs #tab2-content {
    background-color: #953ea8; }
.tabsdemoStaticTabs #tab3-content {
    background-color: #deb523; }
.tabsdemoStaticTabs .tabpanel-container {
    display: block;
    position: relative;
    background: white;
    border: 0px solid black;
    height: 100%;
    min-height: 400px;
    overflow: hidden; }
.tabsdemoStaticTabs [role="tabpanel"] {
    color: white;
    width: 100%;
    height: 100%;
    -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
    -moz-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
    -o-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
    transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
    position: absolute; }
.tabsdemoStaticTabs [role="tabpanel"].ng-leave.ng-leave-active, .tabsdemoStaticTabs [role="tabpanel"].ng-enter {
    top: -300px; }
.tabsdemoStaticTabs [role="tabpanel"].ng-leave, .tabsdemoStaticTabs [role="tabpanel"].ng-enter.ng-enter-active {
    top: 0; }
.tabsdemoStaticTabs [role="tabpanel"].ng-leave {
    z-index: 100; }
.tabsdemoStaticTabs .tabpanel-container [role="tabpanel"] {
    padding: 20px; }
.tabsdemoStaticTabs .after-tabs-area {
    padding: 10px; }
.tabsdemoStaticTabs .after-tabs-area > span {
    margin-top: 25px;
    padding-right: 5px;
    vertical-align: middle;
    line-height: 30px;
    height: 35px; }
.tabsdemoStaticTabs .after-tabs-area > md-checkbox {
    margin-top: 26px;
    margin-left: 0; }
.tabsdemoStaticTabs .md-header {
    background-color: #1976D2 !important; }
.tabsdemoStaticTabs md-tab {
    color: #90caf9 !important; }
.tabsdemoStaticTabs md-tab.active, .tabsdemoStaticTabs md-tab:focus {
    color: white !important; }
.tabsdemoStaticTabs md-tab[disabled] {
    opacity: 0.5; }
.tabsdemoStaticTabs .md-header .md-ripple {
    border-color: #FFFF8D !important; }
.tabsdemoStaticTabs md-tabs-ink-bar {
    background-color: #FFFF8D !important; }
.tabsdemoStaticTabs md-tabs .md-paginator {
    color: white; }

/************************************
*******  MEDIAA QUERIES
************************************/
#resinfo .small{
    color: red;
    display: none;
}
#resinfo .medium{
    color: red;
    display: none;
}
#resinfo .large{
    color: red;
    display: none;
}
#resinfo .very-large{
    color: red;
    display: none;
}


/***    Flippy    **/



@media screen and (max-width: 600px) {
    .my-fancy p{
        font-size : 13px !important;
    }

    #resinfo .small{
        display: block;
    }
}

@media screen and (min-width:600px) and (max-width: 960px) {
    .my-fancy p{
        font-size: 14px !important;
        max-width : 500px;
    }
    .my-fancy img {
        margin-top : 20px;
        margin-bottom : 20px;
    }
    #resinfo .medium{
        display: block;
    }


}

@media screen and (min-width:960) and (max-width: 1200px) {
    .my-fancy p{
        font-size: 12px !important;
    }

    #resinfo .large{
        display: block;
    }
}

@media screen and (min-width:1200px) {
    .my-fancy p{
        font-size: 12px !important;
    }


    #resinfo .very-large{
        display: block;
    }
}