<section class="timeline">
    <div class="timeline-item" style="margin-bottom:0px !important">
        <div class="timeline-head" >
            <i class="fa fa-lightbulb-o"></i>
        </div>
        <div class="timeline-head-content">
            <h3>Education</h3>
        </div>
    </div>
</section>

<section layout="row" ng-repeat='(i,edu) in education' >

    <md-content  flex class='timeline' >
        <div>
           
            <div class="timeline-item-date" hide show-lg show-gt-lg show-md flex>
                {{edu.date_from.format('YYYY')}} 
                

            </div>
            <div  class="timeline-item-trigger" slide-toggle="#edu{{i}}" >
                <span >
                    <i class="fa fa-minus-circle " style="color: white" 
                       ng-show="xp.collapsed" ng-click="edu.collapsed = !edu.collapsed"></i>
                    <i class="fa fa-plus-circle "  style="color: white" 
                       ng-show="!xp.collapsed" ng-click="edu.collapsed = !edu.collapsed"></i>
                </span>
            </div>
        </div>
        <md-content flex>
            <div hide-sm hide-md class="timeline-arrow">
                <i></i>
            </div>
            <md-content class="timeline-item-content" slide-toggle="#edu{{i}}" flex >
                <h3 
                    class="timeline-item-title" 
                    data-toggle="collapse" 
                    ng-click="edu.collapsed = !edu.collapsed"
                    data-target="#edu{{i}}">
                    {{edu.title}}  
                    <span class="place">in {{edu.location.town}} - {{edu.location.country}}</span> 
                </h3>
                <div class="slideable" id="edu{{i}}" >                    
                    <p ng-bind-html="edu.description | unsafe"></p>
                    <p ng-show="edu.website_url.length>0"><a href="{{edu.website_url}}" target="_blank" title="" class="noprint">→ View website</a></p>
                </div>
            </md-content>
        </md-content>
    </md-content>


</section>
<md-divider></md-divider>

