<md-content class="md-padding" ng-show="mailSent==true" style="color: #747474">
    <h4>Thank you for contacting me.</h4>
    <p>I will get back to you shortly.</p>
</md-content>
<md-content class="md-padding" ng-show="mailSent==false">
    <form name="userForm">

        <div layout layout-sm="column">
            <md-input-container flex>
                <label>Your Name</label>
                <input ng-model="user.name" placeholder="Enter your Name" required>
            </md-input-container>
            <md-input-container flex>
                <label>Email</label>
                <input ng-model="user._replyto"  placeholder="Enter your Email" required type="email">
            </md-input-container>
        </div>
        <md-input-container flex>
            <label>Message</label>
            <textarea ng-model="user.message" placeholder="Enter your Message" required >
            
            </textarea>
        </md-input-container>
        <md-input-container flex>
            <md-button class="md-raised md-primary" ng-click="sendMail(userForm)">
                Contact Me
            </md-button>
        </md-input-container>
    </form>
</md-content>
