<section class="timeline">
    <div class="timeline-item" style="margin-bottom:0px !important">
        <div class="timeline-head" >
            <i class="fa fa-lightbulb-o"></i>
        </div>
        <div class="timeline-head-content">
            <h3>Interests</h3>
        </div>
    </div>
</section>

<section layout="row" ng-repeat='(i,int) in interests' >

    <md-content  flex class="timeline">
        <div>

            <div class="timeline-item-date" hide show-lg show-gt-lg show-md flex>

            </div>
            <div  class="timeline-item-trigger" slide-toggle="#edu{{i}}" >
                    <span >
                        <i class="fa fa-minus-circle " style="color: white"
                           ng-show="int.collapsed" ng-click="int.collapsed = !int.collapsed"></i>
                        <i class="fa fa-plus-circle "  style="color: white"
                           ng-show="!int.collapsed" ng-click="int.collapsed = !int.collapsed"></i>
                    </span>
            </div>
        </div>
        <md-content flex>
            <div hide-sm hide-md class="timeline-arrow">
                <i></i>
            </div>
            <md-content class="timeline-item-content" slide-toggle="#int{{i}}" flex >
                <h3
                        class="timeline-item-title"
                        data-toggle="collapse"
                        ng-click="int.collapsed = !int.collapsed"
                        data-target="#int{{i}}">
                    {{int.name}}
                    <span class="interests">{{int.description}}</span>
                </h3>
                <div class="slideable" id="int{{i}}" >
                    <img src="{{int.photo}}" />
                </div>

            </md-content>
        </md-content>

    </md-content>


</section>
<md-divider></md-divider>

