<div>
    SIZE = {{size}}
</div>

<div ng-if="size=='xl'">
    XL
</div>
<div ng-if="size=='lg'">
    LG
</div>
<div ng-if="size=='md'">
    MD
</div>
<div ng-if="size=='sm'">
    SM
</div>
<div ng-if="size=='xs'">
    XS
</div>

<!--material design shock-->

<div ng-controller="AppCtrl" layout="column" style="min-height:100%;" ng-swipe-right="swipeRight()" ng-swipe-left="swipeLeft()">

    <section layout="row" layout-align="start end" >

        <!--Large menu left -->
        <md-content class="md-sidenav-left md-whiteframe-z2 large-sidenav"
                    id="largeLeft"
                    ng-if="size=='xl'"
                    md-component-id="largeLeft"
                    layout="row">
            <div ng-include="'views/menu-content-header.html'" flex="50"   style="background-color: #747474"></div>
            <div ng-include=" 'views/menu-content1.html'" flex="50" ></div>
        </md-content>

        <!--Small menu left -->
        <md-content class="md-sidenav-left md-whiteframe-z3 small-sidenav"
                    id="smallLeft"
                    ng-if="size=='lg' || size=='md'"
                    md-component-id="smallLeft"
                    layout="column">
            <div ng-include="'views/menu-content-header.html'"   style="background-color: #fff"></div>
            <div ng-include=" 'views/menu-content1.html'"  ></div>
        </md-content>

        <!--Contact right -->
        <md-sidenav class="md-sidenav-right md-whiteframe-z3" 
                    md-component-id="right" 
                    id="right">

            <div ng-include=" 'views/contact.html'" ng-controller="ContactCtrl"></div>                    

        </md-sidenav>


        <!--Mobile toggle -->
        <md-content layout="left" ng-if="size=='sm' || size=='xs'"
                    style="background-color: transparent;"
                    ng-show="isTouch == false"
                    flex="10">

            <!--<i class="fa fa-4x fa-bars"
               ng-if="size=='md'"
               style="
               background-color: #fff;border : 3px solid #575757;border-radius: 5px;padding: 5px;
               position:fixed;
               left: 10px;
               top: 10px;"
               ng-click="toggleLeft2()">
            </i>-->
            <i class="fa fa-2x fa-bars"
               ng-if="size=='sm' || size=='xs'"
               style="
               background-color: #fff;border : 3px solid #575757;border-radius: 5px;padding: 5px;
               position:fixed;
               left: 10px;
               top: 10px;"
               ng-click="toggleLeft()">
            </i>

        </md-content>

        <!-- MObile menu -->
        <md-content layout="left" class="smallMenu"
                    flex="25"
                    ng-if="size=='sm' || size=='xs'"
                    style="position:fixed;top : 25px;left :2%;padding : 0px !important" >
            <div ng-include="'views/menu-content2.html'" ng-controller="MenuCtrl"></div>
        </md-content>



        <!--content -->
        <md-content  layout="left" class="content md-padding" style="background-color: transparent;">

            <div layout="column" layout-fill layout-align="top center">

                <section class="intro" id='intro' >

                    <div id="intro-name" ng-if="size != 'xl'">
                        <span>Antoine</span>
                        <div class="fade-show-container">
                            <img style="vertical-align:middle" class="fade-show" src="img/Slide.png" id="slideImg" ng-show="showSlide"/>
                            <img style="vertical-align:middle" class="fade-show" src="img/me.png" alt="Antoine LUCAS" id="photoImg" ng-show="showFace"/>
                        </div>
                        <span >Lucas</span>
                        <div style="clear:both"></div>
                    </div>

                    <div ng-include=" 'views/intro.html'"></div>
                </section>


                <section class="section nicesection" >
                    <div >
                        <h2 class="mtcon-title">Resume</h2>
                    </div>	
                    <div id="resume" ng-include=" 'views/professional.html'" ng-controller="ProCtrl"></div>
                    <div id="education" ng-include=" 'views/education.html'" ng-controller="EducationCtrl"></div>
                    <div id="interests" ng-include=" 'views/interests.html'" ng-controller="InterestsCtrl"></div>
                </section>

                <section class="section nicesection">
                    <div >
                        <h2 class="mtcon-title">Social Links</h2>
                    </div>

                    <div id="social" ng-include="'views/social.html'" ng-controller="SocialCtrl"></div>

                </section>

                <section class="section nicesection" id="services">
                    <div >
                        <h2 class="mtcon-title">Services</h2>
                    </div>	
                    <div ng-include=" 'views/services.html'" ng-controller="ServiceCtrl"></div>                    
                </section>

                <section class="section nicesection" id="skills">
                    <div >
                        <h2 class="mtcon-title">Skills</h2>
                    </div>	
                    <div ng-include=" 'views/skills.html'" ng-controller="SkillsCtrl"></div>                    
                </section>
                
                <section class="section nicesection" id="technologies">
                    <div >
                        <h2 class="mtcon-title">Technology used for this page</h2>
                    </div>	
                    <div ng-include=" 'views/technologies.html'" ng-controller="TechnologiesCtrl"></div>                    
                </section>





            </div>
            <div flex></div>
        </md-content>

    </section>
</div>


<!--end material-->

