

<md-content  md-padding md-margin style="padding: 10px;">
    <div class="logo">
        <h2>
            Antoine LUCAS
            <span>Web Application Developer</span>
        </h2>


    </div>

    <md-list>
        <md-item >
            <md-item-content >
                <md-button  flex  ng-click="goToAnchor('intro')" id='intro_btn'>
                    <div class="btn-content">
                        <i class="fa fa-lg fa-fire"></i>
                        <span>Intro</span>

                    </div>
                </md-button>
            </md-item-content>
        </md-item>
        <md-divider></md-divider>
        <md-item>
            <md-item-content>
                <md-button ng-click="goToAnchor('resume')" flex id='resume_btn'>
                    <div class="btn-content">
                        <i class="fa fa-lg fa-book"></i>
                        <span>Resume</span>

                    </div>

                </md-button>
            </md-item-content>
        </md-item>
        <md-divider></md-divider>
        <md-item>
            <md-item-content>
                <md-button ng-click="goToAnchor('services')" flex id='service_btn'>
                    <div class="btn-content">

                        <i class="fa fa-lg fa-cogs"></i>
                        <span>Services</span>

                    </div>
                </md-button>
            </md-item-content>
        </md-item>
        <md-divider></md-divider>
        <md-item>
            <md-item-content>
                <md-button ng-click="goToAnchor('skills')" flex id='skills_btn'>
                    <div class="btn-content">

                        <i class="fa fa-lg fa-cogs"></i>
                        <span>Skills</span>

                    </div>
                </md-button>
            </md-item-content>
        </md-item>
        <md-divider></md-divider>

        <md-item>
            <md-item-content>
                <md-button ng-click="swipeLeft()" flex id='contact_btn'>
                    <div class="btn-content">
                        <i class="fa fal-lg fa-mail-forward"></i>
                        <span>Contact</span>
                    </div>

                </md-button>
            </md-item-content>
        </md-item>            
   
    </md-list>

</md-content>