

<md-content  md-padding md-margin style="padding: 10px;">
    <div class="logo">
        <h2>
            Antoine LUCAS
            <span>Web Application Developer</span>
        </h2>


    </div>

    <md-list>
        <md-item >
            <md-item-content >
                <md-button  flex  ng-click="goToAnchor('intro')" >
                    <div class="btn-content">
                        <i class="fa fa-lg fa-fire"></i>
                        <span>Intro</span>

                    </div>

                </md-button>
            </md-item-content>
        </md-item>
        <md-divider></md-divider>
        <md-item>
            <md-item-content>
                <md-button ng-click="goToAnchor('resume')" flex>
                    <div class="btn-content">
                        <i class="fa fa-lg fa-book"></i>
                        <span>Resume</span>

                    </div>

                </md-button>
            </md-item-content>
        </md-item>
        <md-divider></md-divider>
        <md-item>
            <md-item-content>
                <md-button ng-click="goToAnchor('services')" flex>
                    <div class="btn-content">

                        <i class="fa fa-lg fa-cogs"></i>
                        <span>Services</span>

                    </div>
                </md-button>
            </md-item-content>
        </md-item>
        <md-divider></md-divider>
        <md-item>
            <md-item-content>
                <md-button ng-click="goToAnchor('skills')" flex>
                    <div class="btn-content">

                        <i class="fa fa-lg fa-cogs"></i>
                        <span>Skills</span>

                    </div>
                </md-button>
            </md-item-content>
        </md-item>
        <md-divider></md-divider>

        <md-item>
            <md-item-content>
                <md-button ng-click="goToAnchor('contact')" flex>
                    <div class="btn-content">
                        <i class="fa fal-lg fa-mail-forward"></i>
                        <span>Contact</span>
                    </div>

                </md-button>
            </md-item-content>
        </md-item>            
        <md-item style="text-align: center;">
            <md-item-content style="text-align:center !important">


                <!--<g:hangout render="createhangout" hangout_type="normal" invites="[{invite_type:'email',id: 'antoine.lucas.australia@gmail.com'},{invite_type:'email',id: 'cooluhuru@gmail.com'}]" topic="Interview"></g:hangout>-->


                <div id="placeholder-div1"  ng-init="render1()"></div>
                
            

            </md-item-content>
        </md-item>
        <md-item>
            <md-item-content>

                <div id="SkypeButton_Call_montpellier_1001net_1">
                    <script type="text/javascript">
                        Skype.ui({
                            name: "call",
                            "element": "SkypeButton_Call_montpellier_1001net_1",
                            "participants": ["montpellier_1001net"],
                            "imageSize": 16
                        });
                    </script>
                </div>
            </md-item-content>
        </md-item>
    </md-list>

</md-content>