<!--material design shock-->

<div ng-controller="AppCtrl" layout="column" style="min-height:100%;" ng-swipe-right="swipeRight()" ng-swipe-left="swipeLeft()">


    <div class="topBanner"
        ng-if="size=='sm' || size=='xs'">
        <h1>Antoine LUCAS</h1>

        <!--Mobile toggle -->
        <div ng-if="size=='sm' || size=='xs'"
             class="toggleBtn">

            <i class="fa fa-2x fa-bars"
               ng-if="size=='sm' || size=='xs'"
               ng-click="toggleLeft()">
            </i>

        </div>


    </div>


    <md-whiteframe layout="row" layout-align="start end" >

        <!--Large menu left -->
        <md-content class="md-sidenav-left md-whiteframe-z2 large-sidenav"
                    ng-if="size=='xl'"
                    layout="row">
            <div ng-include="'views/menu-content-header.html'" flex="50"   style="background-color: #747474"></div>
            <div ng-include=" 'views/menu-content1.html'" flex="50" ></div>
        </md-content>

        <!--Small menu left -->
        <md-content class="md-sidenav-left md-whiteframe-z3 small-sidenav"
                    ng-if="size=='lg' || size=='md'"

                    layout="column">
            <div ng-include="'views/menu-content-header.html'"   style="background-color: #fff"></div>
            <div ng-include=" 'views/menu-content1.html'"  ></div>
        </md-content>

        <!--Contact right -->
        <md-sidenav class="md-sidenav-right md-whiteframe-z3" 
                    md-component-id="right" 
                    id="right">

            <div ng-include=" 'views/contact.html'" ng-controller="ContactCtrl"></div>                    

        </md-sidenav>



        <!-- Tablet menu -->
        <md-sidenav class="md-sidenav-left md-whiteframe-z2"
                    md-component-id="largeLeft"
                    id="largeLeft"
                    layout="row"
                    ng-if="size=='sm' || size=='xs'"
                    >
            <div ng-include=" 'views/menu-content2.html'" ></div>
        </md-sidenav>



        <!--content -->
        <md-content   class="content md-padding" ng-style="contentStyle">

            <div layout="column" layout-fill layout-align="top center">

                <section class="intro" id='intro' >

                    <div id="intro-name" ng-if="size != 'xl' && size!='sm' && size!='xs'">
                        <span>Antoine</span>
                        <div class="fade-show-container">
                            <img style="vertical-align:middle" class="fade-show" src="img/Slide.png" id="slideImg" ng-show="showSlide"/>
                            <img style="vertical-align:middle" class="fade-show" src="img/me.png" alt="Antoine LUCAS" id="photoImg" ng-show="showFace"/>
                        </div>
                        <span >Lucas</span>
                        <div style="clear:both"></div>
                    </div>

                    <div ng-include=" 'views/intro.html'"></div>
                </section>


                <md-whiteframe class="md-section md-whiteframe-z1"  layout="column" layout-align="left center">
                    <div >
                        <h2 class="mtcon-title">Resume</h2>
                    </div>
                    <div id="resume" ng-include=" 'views/professional.html'" ng-controller="ProCtrl"></div>
                    <div id="education" ng-include=" 'views/education.html'" ng-controller="EducationCtrl"></div>
                    <div id="interests" ng-include=" 'views/interests.html'" ng-controller="InterestsCtrl"></div>
                </md-whiteframe>



                <md-whiteframe class="md-section md-whiteframe-z1"  layout="column" layout-align="left center">
                    <div >
                        <h2 class="mtcon-title">Social Links</h2>
                    </div>

                    <div id="social" ng-include="'views/social.html'" ng-controller="SocialCtrl"></div>

                </md-whiteframe>

                <md-whiteframe class="md-section md-whiteframe-z1" id="services">
                    <div >
                        <h2 class="mtcon-title">Services</h2>
                    </div>	
                    <div ng-include=" 'views/services.html'" ng-controller="ServiceCtrl"></div>                    
                </md-whiteframe>

                <md-whiteframe class="md-section md-whiteframe-z1" id="skills">
                    <div >
                        <h2 class="mtcon-title">Skills</h2>
                    </div>	
                    <div ng-include=" 'views/skills.html'" ng-controller="SkillsCtrl"></div>                    
                </md-whiteframe>

                <md-whiteframe class="md-section md-whiteframe-z1" id="technologies">
                    <div >
                        <h2 class="mtcon-title">Technology used for this page</h2>
                    </div>	
                    <div ng-include=" 'views/technologies.html'" ng-controller="TechnologiesCtrl"></div>                    
                </md-whiteframe>


            </div>
            <div flex></div>
        </md-content>

    </md-whiteframe>
</div>


<!--end material-->

