

<md-content  md-padding md-margin >
<!--
    <div style="text-align: center;border-bottom: 1px solid #555;padding-bottom: 10px;margin-bottom: 10px;">
        <img  src="app/img/me.png" alt="Antoine LUCAS" id="photoImg" />
    </div>
-->

    <md-list style="border-top: 1px solid #555">
        <md-item >
            <md-item-content >
                <md-button  flex  ng-click="goToAnchor('intro')" id="intro_btn">
                    <div class="btn-content">
                        <i class="fa fa-lg fa-fire"></i>
                        <span>Intro</span>

                    </div>

                </md-button>
            </md-item-content>
        </md-item>
        <md-divider></md-divider>
        <md-item>
            <md-item-content>
                <md-button ng-click="goToAnchor('osource')" flex id="osource_btn">
                    <div class="btn-content">
                        <i class="fa fa-lg fa-book"></i>
                        <span>Open Source</span>

                    </div>

                </md-button>
            </md-item-content>
        </md-item>

        <md-divider></md-divider>
        <md-item>
            <md-item-content>
                <md-button ng-click="goToAnchor('resume')" flex id="resume_btn">
                    <div class="btn-content">
                        <i class="fa fa-lg fa-book"></i>
                        <span>Resume</span>

                    </div>

                </md-button>
            </md-item-content>
        </md-item>

        <md-divider></md-divider>
        <md-item>
            <md-item-content>
                <md-button ng-click="goToAnchor('education')" flex id="education_btn">
                    <div class="btn-content">
                        <i class="fa fa-graduation-cap fa-book"></i>
                        <span>Education</span>

                    </div>

                </md-button>
            </md-item-content>
        </md-item>

        <md-divider></md-divider>
        <md-item>
            <md-item-content>
                <md-button ng-click="goToAnchor('social')" flex id="social_btn">
                    <div class="btn-content">
                        <i class="fa fa-soccer-ball-o fa-book"></i>
                        <span>Social</span>

                    </div>
                </md-button>
            </md-item-content>
        </md-item>

        <md-divider></md-divider>
        <md-item>
            <md-item-content>
                <md-button ng-click="goToAnchor('interests')" flex id="interests_btn">
                    <div class="btn-content">
                        <i class="fa fa-gamepad fa-book"></i>
                        <span>Interests</span>

                    </div>

                </md-button>
            </md-item-content>
        </md-item>

        <md-divider></md-divider>
        <md-item>
            <md-item-content>
                <md-button ng-click="goToAnchor('services')" flex id="service_btn">
                    <div class="btn-content">

                        <i class="fa fa-lg fa-puzzle-piece"></i>
                        <span>Services</span>

                    </div>
                </md-button>
            </md-item-content>
        </md-item>

        <md-divider></md-divider>
        <md-item>
            <md-item-content>
                <md-button ng-click="goToAnchor('skills')" flex id="skills_btn">
                    <div class="btn-content">

                        <i class="fa fa-lg fa-cogs"></i>
                        <span>Skills</span>

                    </div>
                </md-button>
            </md-item-content>
        </md-item>

        <md-divider></md-divider>
        <md-item>
            <md-item-content>
                <md-button ng-click="goToAnchor('technologies')" flex id="technologies_btn">
                    <div class="btn-content">

                        <i class="fa fa-lg fa-terminal"></i>
                        <span>Tech</span>

                    </div>
                </md-button>
            </md-item-content>
        </md-item>
        <md-divider></md-divider>
        <md-item>
            <md-item-content>
                <md-button ng-click="swipeLeft()" flex id="contact_btn">
                    <div class="btn-content">

                        <i class="fa fal-lg fa-mail-forward"></i>
                        <span>Contact</span>

                    </div>

                </md-button>
            </md-item-content>
        </md-item>
        <md-divider></md-divider>
        <md-item>
            <md-item-content>
                <md-button href="generator/ANTOINE_LUCAS_RESUME.doc" class="md-primary" target="_blank" flex>
                    <div class="btn-content">
                        <i class="fa fal-lg fa-file-word-o"></i>
                        <span>Download</span>
                    </div>
                </md-button>
            </md-item-content>
        </md-item>
        <md-divider></md-divider>

    </md-list>

</md-content>