

<md-content  md-padding md-margin style="padding: 10px;">
    <div class="logo">
        <h2>
            Antoine LUCAS
            <span>Web Application Developer</span>
        </h2>
        

    </div>

    <md-list>
        <md-item >
            <md-item-content >
                <md-button ng-click="scrollTo('Intro')" flex >
                    <div class="btn-content">
                        <i class="fa fa-lg fa-fire"></i>
                        <span>Intro</span>

                    </div>

                </md-button>
            </md-item-content>
        </md-item>
        <md-divider></md-divider>
        <md-item>
            <md-item-content>
                <md-button ng-click="scrollTo('Intro')" flex>
                    <div class="btn-content">
                        <i class="fa fa-lg fa-book"></i>
                        <span>Resume</span>

                    </div>

                </md-button>
            </md-item-content>
        </md-item>
        <md-divider></md-divider>
        <md-item>
            <md-item-content>
                <md-button ng-click="scrollTo('Intro')" flex>
                    <div class="btn-content">

                        <i class="fa fa-lg fa-cogs"></i>
                        <span>Service</span>

                    </div>
                </md-button>
            </md-item-content>
        </md-item>
        <md-divider></md-divider>
        <md-item>
            <md-item-content>
                <md-button ng-click="scrollTo('Intro')" flex>
                    <div class="btn-content">
                        <i class="fa fa-lg fa-suitcase"></i>
                        <span>Work</span>

                    </div>

                </md-button>
            </md-item-content>
        </md-item>
        <md-divider></md-divider>
        <md-item>
            <md-item-content>
                <md-button ng-click="scrollTo('Intro')" flex>
                    <div class="btn-content">
                        <i class="fa fal-lg fa-mail-forward"></i>
                        <span>Contact</span>
                    </div>

                </md-button>
            </md-item-content>
        </md-item>

</md-content>